.product-container {
	display: flex;
}

.product-gallery {
	width: 50%;
	margin-top: 2rem;
}
.product-content {
	margin-left: 5%;
	width: 45%;
	margin-top: 2rem;
}
.product-content span {
	font-size: 1.2em;
}
.product-content h2 {
	margin: 0;
	margin-bottom: 1.5rem;
}
.demonstration {
	margin-top: 3rem;
	line-height: 1.5em;
	font-weight: bold;
}
.demonstration a {
	text-decoration: underline;
}
.descProduct{
	margin-top: 1.5rem;
	line-height: 1.5em;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid lightgrey;
}
.product-gallery img {
	width: 100%;
	cursor: zoom-in;
}
.sub-gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.sub-gallery img {
	width: calc(90%/3);
	cursor: pointer;
	margin-right: 5%;
	margin-top: 5%;
}
.sub-gallery img:nth-child(3n){
	margin-right: 0;
}
.product-gallery img:hover {
	opacity: .6;
}
.details {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.select-group {
	margin-right: .5em;
	display: flex;
	flex-direction: column;
}
.select-group select {
	font-size: 1em;
}
.product-content h2 {
	margin-top: 0;
}

.input {
	background-color: #f4f4f4;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 0.8em 1em;
	padding-right: 2em;
	border: none;
	border-radius: 0;
	background-image: url('../../../assets/icons/small-arrow-down.png');
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: .5em;
}
input.input {
	background-image: none;
}

