.container {
	display: flex;
	justify-content: space-between;
}
.legend {
	padding: 1em;
	font-size: 1em;
}
.gallery {
	width: 50%;
	margin-top: 2rem;
}
.gallery img {
	width: 100%;
	cursor: zoom-in;
}
.gallery img:hover {
	opacity: .6;
}
.content {
	margin-left: 5%;
	width: 45%;
	margin-top: 2rem;
}
.content span {
	font-size: 1.2em;
}
.content h2 {
	margin: 0;
	margin-bottom: 1.5rem;
}
.demonstration {
	margin-top: 3rem;
	line-height: 1.5em;
	font-weight: bold;
}
.demonstration a {
	text-decoration: underline;
}
.desc {
	margin-top: 1.5rem;
	line-height: 1.5em;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid lightgrey;
}
.subGallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.subGallery img {
	width: calc(90%/3);
	cursor: pointer;
	margin-right: 5%;
	margin-top: 5%;
}
.subGallery img:nth-child(3n){
	margin-right: 0;
}
.details {
	display: flex;
	justify-content: left;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.selectGroup {
	margin-right: .5em;
	display: flex;
	flex-direction: column;
}
.selectGroup select {
	font-size: 1em;
}

input.input {
	background-image: none;
}

.containerButtons {
	margin: 0 auto;
}

@media (max-width: 800px) {
	.container {
		flex-direction: column;
		text-align: center;
	}
	.gallery {
		width: 100%;
	}
	.content {
		margin-left: 0;
		width: 100%;
		margin-top: 2rem;
	}
	.details {
		justify-content: center;
	}
}