.container {
	display: flex;
	flex-direction: column;
}
.content {
	border-top: 1px solid lightgrey;
}
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list li {
	padding: 1rem;
}
.mobile {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 1rem;
	/* border-bottom: 1px solid lightgrey; */
}

.desktop {
	display: none;
	width: 20%;
	text-align: left;
}
.desktop li {
	border-top: 1px solid lightgray;
}
.desktop li:last-child {
	border-bottom: 1px solid lightgray;
}

@media (min-width: 800px) {
	.container {
		flex-direction: row;
		justify-content: space-between;
	}
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
	.content {
		width: 75%;
	} 
}