.headings {
	width: 100%;
	margin: 2rem 0;
	text-align: center;
}
.headings th:first-child {
	text-align: left;
}

.table td:nth-child(4n) {
	width: 8rem;
}


.summaryFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
}
.summaryFlex label {
	font-size: .8rem;
}
.cartSummery {
	text-align: right;
	width: 50%;
}
.cartSummery button:first-child {
	margin-bottom: 1rem;
}

@media (max-width: 800px) {
	thead {
		display: none;
	}
	.summaryFlex {
		flex-direction: column;
	}
	.cartSummery {
		text-align: center;
		width: 100%;
		margin-top: 1rem;
	}
	.cartSummery button {
		margin-bottom: 0;
	}
}