.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	z-index: 100;
	padding: 0 3rem;
	/*display: none;*/
	display: flex;
	justify-content: center;
	align-items: center;
	touch-action: none;
}

.image {
	height: 100vh;
	width: auto;
	margin: 0 auto;
	display: block;
	cursor: zoom-out;
}

.close {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 110;
	cursor: pointer;
	height: 60px;
	width: auto;
	opacity: 1;
}

.left,
.right {
	position: fixed;
	height: 6rem;
	width: 6rem;
	cursor: pointer;
	opacity: .2;
}
.right {
	right: 0;
}
.left {
	left: 0;
}

.left:hover,
.right:hover,
.close:hover {
	opacity: 1;
}

@media (max-width: 800px){
	.image {
		width: 100%;
		height: auto;
	}
}