.product {
	width: 32%;
	text-align: center;
	display: inline-block;
	margin-bottom: 3em;
	margin-right: 2%;
	padding: 0;
	opacity: 1;
	/* transform: translateY(30%); */
	transition: .3s ease-in-out;
}
.product:nth-child(3n+3){
	margin-right: 0;	
}
.product img {
	width: 100%;
}

.product h5 {
	margin: 0;
}

.legend {
	padding: 1em;
	font-size: 1em;
}

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	padding-left: 1em;
}
#productsFilter {
	margin-left: auto;
}