* {
  box-sizing: border-box;
}
html {
  font-size: .85rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #1C1F1D;
}

input:focus,
select:focus,
.input:focus {
  outline: none;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

iframe {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: .6;
}
a button:hover {
  opacity: 1;
}

input, textarea, button {
  font-family: 'Raleway', sans-serif;
}
input {
  font-size: 1rem;
}


@media (max-width: 800px) {
  html {
    font-size: 1rem;
  }
}