.productTDtitle {
	width: 80%;
	text-align: left !important;
	display: flex;
}
.productTDtitle img{
	height: 15rem;
	width: auto;
	margin-right: 1rem;
}
.productTDtitle .container {
	display: block;
}
.productTDtitle h4 {
	margin: 0;
	padding-bottom: .5em;
}
.productTDtitle {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}
.cartQuant {
	background-image: none;
	width: 2rem;
	padding-right: 0;
	padding-left: .8em;
	transition: .1s ease-in-out;
	border: 1px solid transparent;
	position: relative;
}
.cartQuantMax {
	color: red;
	position: absolute;
	top: calc(50% - .5em);
	left: calc(50% - 1em);
	display: flex;
	align-content: center;
	text-align: center;

}

.removeCartItem {
	display: block;
	margin-top: 1.5em;
	cursor: pointer;
}
.removeCartItem:hover {
	opacity: .6;
}
.price span, .subTotal span, .tdInput span {
		display: none;
}
.subTotal {
	font-weight: 700;
}

.removeAnim {
	transition: .2s ease-in-out;
	opacity: 0;
	transform: translateX(70%);
}

@media (max-width: 800px){
	tr {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #eee;
		padding-bottom: 3rem;
		margin-bottom: 2rem;
	}
	.productTDtitle {
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
	}
	.productTDtitle img {
		height: auto;
		width: 100%;
		margin-bottom: 1rem;
	}
	.productTDtitle .container {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 3rem;
	}
	.price span, .subTotal span, .tdInput span {
		display: inline;
	}
	.price, .subTotal, .tdInput {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: .5rem 0;
	}
	.tdInput input {
		margin: 1rem 0 !important;
		font-size: 1.3rem;
	}
}